<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="liu.myapplication">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.base">
        <activity android:name=".LoadingActivity"/>
        <activity
            android:name=".FirstActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:theme="@style/AppTheme"
            android:name=".MainActivity">
        </activity>

        <activity android:name=".ui.AnimationActivity"/>

        <activity android:name=".ui.CustomViewActivity"/>
        <!--viewGroup-->
        <activity android:name=".ui.CustomViewGroupActivity"/>
        <activity android:name=".ui.OkhttpActivity"/>
        <activity android:name=".ui.ObserverTestActivity"/>
        <activity
            android:theme="@style/transparentTitleTheme"
            android:name=".ui.HeaderScrollViewActivity"/>
        <activity
            android:launchMode="singleTop"
            android:name=".ui.RemoteViewActivity"/>
        <activity android:name=".ui.PullToRefreshListActivity"/>
        <!--RecyclerView-->
        <activity android:name=".ui.RecyclerViewActivity"/>
        <activity android:name=".ui.RecyclerDefaultActivity"/>
        <!--泛型-->
        <activity android:name=".ui.GenericActivity"/>
        <activity android:name=".ui.ExpandableListViewActivity"/>
        <!--图片裁剪-->
        <activity android:name=".ui.ClipImageActivity"/>
        <!--eventbus-->
        <activity android:name=".ui.EventBusActivity"/>
        <!--生活工具类-->
        <activity android:name=".ui.LifeToolsActivity"/>
        <!--关于-->
        <activity android:name=".ui.AboutMeActivity"/>
        <!--刮刮卡-->
        <activity android:name=".ui.GuaGuaActivity"/>
        <!--ViewDragHelper-->
        <activity android:name=".ui.ViewDragHelperActivity"/>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="wandoujia" />
    </application>

</manifest>